{% extends 'base.html' %}
{% block content %}

    <body>
    <div id="container">
        <header id="site-header">

            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home-page' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add-book' %}">Add Book</a>
                        <a class="button" href="{% url 'profile-details' %}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <section id="profile-page" class="details">
            <div class="profile-information">
                <h3>{{ full_name }}</h3>
                <p class="img"><img src="{{ profile.image_url }}" alt="{{ full_name }}"></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit-profile' %}">Edit</a>
                    <a class="button" href="{% url 'delete-profile' %}">Delete</a>
                </div>
            </div>
        </section>

        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
    </body>

{% endblock %}
