{% extends 'base.html' %}
{% block content %}

<body>
    <div id="container">
        <header id="site-header">

            <!-- Navigation -->
            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'home-page' %}">Dashboard</a>
                    <div id="user">
                        <span>Welcome, {{ profile.first_name }}</span>
                        <a class="button" href="{% url 'add-book' %}">Add Book</a>
                        <a class="button" href="{{ delete_book }}">Profile</a>
                    </div>
                </section>
            </nav>
        </header>

        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ book.title }}</h3>
                <p class="type">Type: {{ book.type }}</p>
                <p class="img"><img src="{{ book.image }}" alt="{{ book.title }}"></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit-book' pk=book.pk %}">Edit</a>
                    <a class="button" href="{% url 'home-page' %}">Delete</a>
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>{{ book.description }}</p>
            </div>
        </section>

        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
</body>

{% endblock %}
