* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 14px 48px;
}

.header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header .title {
    display: flex;
    margin-right: auto;
    font-size: 34px;
}

.navigation ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: auto;
}

.navigation ul {
    list-style-type: none;
}

.navigation ul a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

.article h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
