{% include 'base/base.html' %}
<body>
<div id="box">
    <header>

        <!-- navigation bar-->
        <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'game-create' %}">Create Game</a>
            <a href="{% url 'profile-details' %}">Profile</a>
        </nav>
    </header>

    <!-- details section -->
    <section id="game-details">
        <h1>Game Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="game-img"
                     src="{{ game.image_url }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ game.title }} <span class="levels">Rating: {{ game.rating }}</span></h1>
                <!-- game category -->
                <p><span class="type">Category: {{ game.category }}</span></p>
                <!-- game max level (if any) -->
                {% if game.max_level %}
                    <p><span class="type">Max Level: {{ game.max_level }}</span></p>
                {% endif %}
            </div>
            <!-- game summary (if any)-->
            {% if game.summary %}
                <p class="text">{{ game.summary }}</p>
            {% endif %}

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'game-edit' pk=game.pk %}" class="button">Edit</a>
                <a href="{% url 'game-delete' pk=game.pk %}" class="button">Delete</a>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>