{% include 'base/base.html' %}
<body>
<div id="box">
    <header>

        <!-- navigation bar -->
        <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'game-create' %}">Create Game</a>
            <a href="{% url 'profile-details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit game section -->
    <section id="create-page" class="auth">
        <!-- edit game form -->
        <form id="create" method="post">
            <div class="container">
                <!-- Edit Game paragraph -->
                <h1>Edit Game</h1>

                {{ form }}
                {% csrf_token %}

                <!-- edit game button -->
                <input class="btn submit" type="submit" value="Edit Game">
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>

</div>
</body>
</html>
