* {
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background-color: rgb(238, 238, 238);
    display: flex;
    width: 60%;
    height: 280px;
    gap: 20px;
}

.container img {
    border-radius: 6px;
    width: 100px;
    object-fit: cover;
    /* box-shadow: 0 3px 10px lightgrey; */
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.img2 {
    flex: 1 2 auto;
}
