section {
    position: absolute;
    top: 250px;
    left: 180px;
}

.frame-data {
    position: relative;
    bottom: 50px;
    left: 8px;
}

.frame-data h3 {
    font-size: 16px;
    margin: 0px;
}

.frame-data span {
    padding-left: 3px;
    color: gray;
    font-size: 14px;
}