:root {
    --green: #a4c639;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0e0e0e;
}

.services {
    background-color: #fff;
    margin: 2rem 0;
    text-align: center;
}

.services .title {
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.services .title span {
    color: var(--green);
}

.services p {
    color: #666666;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding-top: 4rem;
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 4rem;
}

.card {
    width: 20%;
    background-color: #f7f7f7;
    overflow: hidden;
    text-align: left;
}

.card .card-desc {
    padding: 1.5rem;
}

.card .card-title {
    padding-bottom: 1rem;
    font-size: 1.3rem;
}

.card-desc p {
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

.card .btn {
    all: unset;
    background-color: var(--green);
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 1.5rem;
    font-size: 0.8rem;
}