* {
    box-sizing: border-box;
}

.container, section {
    display: flex;
}

.container {
    max-width: 65vw;
    overflow: hidden;
    height: 200px;
}

.container span {
    border: 1px solid black;
    text-align: center;
    flex-grow: 1;
}

.week {
    flex-direction: row;
    flex-wrap: wrap;
}

.workweek, .weekend {
    width: 100%;
}

.notes {
    flex-direction: column;
}

.notes {
    width: 140px;
    align-items: start;
}

.notes span {
    width: 140px;
    align-self: flex-start;
}